* {
    margin: 0px;
    padding: 0px;
}

#main-container {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3b3b7e;
    margin: 10% 20%;
}

.data-container {

    display: flex;
    flex-direction: column;
    flex-basis: 90%;
    padding: 5%;

}

#nav-container {

    display: flex;
    gap: 2rem;
    text-decoration: none;
    padding-left: 50%;
    color: white;


}

.head:hover {
    border-bottom: 2px solid blue;
    color: blue;
    cursor: pointer;
}

#head-container {

    background: linear-gradient(rgb(31, 209, 189), #49abde);
    display: flex;
    flex-grow: 3;
    flex-wrap: wrap;
    border-radius: 5px;
    gap: 1rem;
    flex-basis: 100%;
    margin: 3%;


}

.left-box {

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1rem;
    margin: 10% 3%;
    border-right: 2px solid gray;

}

.left-box .title {
    font-size: 18px;

}

.middle-box {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1rem;
    margin: 10% 3%;
    border-right: 2px solid gray;
}

.middle-box .title {
    color: white;
}

.right-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 1rem;

}

.article {
    font-weight: bold;
}

.img {
    width: 50%;
    height: 100px;
    border-radius: 10px;
}